<h1>Say#hello</h1>
<p>Find me in app/views/say/hello.html.erb</p>
<p>
  It is now <%= @time %>
</p>
<%= link_to("Goodbye", say_goodbye_path) %>
<p>
  say_hello_url:<%= say_hello_url %>
</p>
<p>
  say_hello_path:<%= say_hello_path %>
</p>